body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Calculator {
    max-width: 1000px;
    height: 300px;
    position: relative;
    margin: 25px;
}